<div class="row">

    <div class="six columns info">
        <div class="footer-logo">
            <a class="smoothscroll" href="#hero">
                <img src="/images/footer-logo.png" alt="" />
            </a>
        </div>
        <p class="copyright">&copy; 2016-2017, LesProjecteurs All rights reserved. <br>
            Automix software is licensed under proprietary license. It is proprietary software, media (including images) and documentation.
        </p>
    </div>

    <div class="six columns right-cols">
        <div class="row">
            <div class="columns">
                <h3 class="address">Come Visit</h3>
                <ul>
                    <li>
                        <a href="https://goo.gl/GbWcve" target="_blank">
                            <p>
                                ENSICAEN
                                <br> 6 Boulevard Maréchal Juin
                                <br> 14000 Caen
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="columns last">
                <h3 class="contact">Contact Us</h3>
                <ul>
                    <li>
                        <a href="mailto:stevenot@ecole.ensicaen.fr" target="_blank">stevenot@ecole.ensicaen.fr</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div id="go-top">
        <a class="smoothscroll" title="Back to Top" href="#hero">
            <i class="icon-up-open"></i>
        </a>
    </div>
</div>