<div class="logo">
    <a class="smoothscroll" href="#hero">
        <img alt="" src="/images/logo.png">
    </a>
</div>

<nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show Menu</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide Menu</a>
    <ul id="nav" class="nav">
        <li>
            <a class="smoothscroll" href="#features">Features</a>
        </li>
        <li>
            <a class="smoothscroll" href="#video">Video</a>
        </li>
        <li>
            <a class="smoothscroll" href="#download">Download</a>
        </li>
        <li>
            <a class="smoothscroll" href="#screenshots">Team</a>
        </li>
    </ul>

</nav>

<ul class="header-social">
    <li>
        <a href="https://github.com/LesProjecteurs/">
            <i class="fa fa-github"></i>
        </a>
    </li>
</ul>